{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["jest"],
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/setupTest.js",
          "**/*.test.js",
          "**/*.stories.js"
        ]
      }
    ]
  }
}
